<head>

    <style>
        #cart-area{
            max-width: 80%;
            margin: auto;
            padding:10px;
            text-align: center;
        }
    </style>

    <script>
        {{!-- test --}}
    </script>

</head>
<main>
    <div id="cart-area"></div>
        <div class="row">
            <h5 class="col sm8">Shopping Cart</h5>
        </div>
        <div class="row">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Item</th>
                <th>Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                {{#each meals}}
                <tr>
                <td><img src="{{this.photo}}" width="100px"></td>
                <td>{{this.mealName}}</td>
                <td>${{this.price}}</td>
                <td>
                <a class="btn btn-small blue sidenav-trigger white-text edit-meal-btn btn-sm-action" data-id="{{this.id}}" href="#" data-target="slide-out-edit-meal"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                <button id="delete-meal-confirm" class="btn btn-small red modal-trigger btn-sm-action" href="#delete-meal-modal" data-id="{{this.id}}" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </tr>
                {{/each}}
            </tbody>
        </table>
        </div>
    </div>
</main>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>